#img {
    height: 300px;
    width: 200px;
    margin-left:150px ;
    margin-top: 500px ;
    border-radius: 400 px ;
}

#personal{

    border: 3px solid black ;
    text-align: center;
    height: 300x;
    width: 500px;
    margin-top: 7px ;
    margin-bottom: 7px ;
    padding-top: 9px ;
}

#accounts{

    border: 3px solid black ;
    text-align: center;
    background-color: rgb(99, 170, 241);
    height: 300x;
    width: 500px;
    margin-top: 7px ;
    margin-bottom: 7px ;
    padding-top: 9px ;
    padding-bottom: 15px ;
    
}

#contant {

    border: 3px solid black ;
    text-align: center;
    background-color: rgb(99, 170, 241);
    height: 300x;
    width: 500px ;
    margin-top: 7px ;
    margin-bottom: 7px ;
    padding-top: 9px ;
    
}

#hobbies{

    border: 3px solid black ;
    text-align: center;
    background-color: rgb(99, 170, 241);
    height: 300x;
    width: 500px ;
    margin-top: 7px ;
    margin-bottom: 7px ;
    padding-top: 9px ;
}

#Languages{

    border: 3px solid black ;
    text-align:left;
    background-color: rgb(99, 170, 241);
    height: 300x;
    width: 500px ;
    margin-top: 7px ;
    margin-bottom: 7px ;
    padding-top: 9px ;
}

h1{
    color:rgb(246, 248, 250);
    font-size: 30px ;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 7px ;
    margin-bottom: 7px ;
}

h2{

    color:rgb(99, 170, 241);
    font-size: xx-large;
    font-family: Georgia ;
}



div h3{

    color: beige ;
}
 
h4{

    color:rgb(241, 218, 189);
    font-size: large;
}


p{

    font-size: larger;
}

p::first-line{

    color:brown;
    font-size: 20px;
 }

 p::after {

    content : "it is a best " ;
    color:brown;
    position: relative;
 }

 p::before {

    content: " ";
    height: 5px;
    width: 100px ;
    background:blue;
    positon: absolute;
    left:0;
    top:0;
 }
    

 div > a {
    
color:black

}


div > a:hover {

    color: brown;
}



#education{
    border: 3px solid black ;
    text-align: center;
    height: 300x;
    width: 500px;
    margin-top: 7px ;
    margin-bottom: 7px ;
    padding-top: 9px ;


}

#goals{

    border: 3px solid black ;
    text-align: center;
    height: 300x;
    width: 700px;
    margin-top: 7px ;
    margin-bottom: 7px ;
    padding-top: 9px ;

}

#testimonials {

    border: 3px solid black ;
    text-align: center;
    height: 300x;
    width: 600px;
    margin-top: 7px ;
    margin-bottom: 7px ;
    padding-top: 9px ;
}

#projects {

    border: 3px solid black ;
    text-align: center;
    margin-top: 7px ;
    margin-bottom: 7px ;
    padding-top: 9px ;
}



#awards{

    border: 3px solid black ;
    text-align: center;
    height: 300x;
    width: 300px;
    margin-top: 7px ;
    margin-bottom: 7px ;
    padding-top: 9px ;
}

@media screen and (max-width:400px){

}

.container{

    display: grid;
    grid-template-columns: 33% 33% 33% ;
    grid-auto-rows:minmax(500px , auto) ;
    grid-column-gap: 20px;
    grid-row-gap:20px;
    grid-template-columns: max-content;
    grid-template-rows: max-content;
}

.box{
    background-color:rgb(187, 211, 236);
    text-align:center;
    border-radius: 30px ;
}

.box1{

    grid-column: 1/2;
    flex-basis: 400 px ;

}

.box2{

position:sticky;
}

.box3{

    grid-column: 1/3;
   }

.box5{
     grid-row: 2/3;
    grid-column: 2/4;

}

.box6{
  grid-row: 1/3;
 grid-column: 1/2;

}

.parent{

  
    padding: 10px ;
    height: 500px ;
    display: flex;
    flex-direction: column;
}

.parent div {

    padding: 10px;
    margin:10px  ;
}

.item1{

    background-color:aliceblue;
    border-radius: 20px ;
     flex-grow: 2;
     flex-shrink: 0 ;
     flex-basis: 400 px ;
}

.item2{

background-color:aliceblue;
flex-grow: 1;
flex-shrink: 0 ;
flex-basis: 150px;
flex-basis: 400 px ;


}

.item3{

    background-color:aliceblue;
    flex-grow: 1;
    flex-shrink: 0 ;
    flex-basis: 150px;
    flex-basis: 400 px ;


}
.item4{

background-color:aliceblue;
flex-grow: 2 ;
flex-shrink: 0 ;
flex-basis: 150px;
flex-basis: 400 px ;

}

#photo {

    border: 2px solid black;
    height: 200px;
    width: 200px;
    margin-left:15px ;
    margin-top: 15px ;
}